<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    {% stylesheet base %}
    {% stylesheet style %}
    {% stylesheet syntax %}
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Gentium+Book+Basic:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>